<html>
    
<head>
    <meta name="keywords" content="zipline, python, backtest, quantopian, django, financedatareader, uwsgi, nginx, mysql">
    <meta name="description" content="Web based Stock Analysis with Django and Zipline">
    <meta name="author" content="SeungYong Baek">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78613930-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-78613930-2');
    </script>

    {% load static %}
    <link rel="stylesheet" href="{% static "admin/css/base.css" %}"/>
    {% block title %}<title>FindMore Something</title>{% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
	        <li><a href="/">FindMore Home</a>
	    </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
